<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      下拉刷新
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="下拉刷新" pullMin='10' PULLMAX='40' refreshingSpinner="crescent"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <h3>{{datas}}</h3>

  <ion-text>
    type 类型："email","number","password","search","tel","text","url"
  </ion-text>
  <h2>搜索框</h2>
  <ion-searchbar animated='true' showCancelButton type="text" spellcheck="false" cancelButtonText="搜索" placeholder="placeholder"
    searchIcon='search' color="success" value="" debounce="500" autocorrect="on" (ionCancel)="ionCancels($event)"
    (ionChange)="ionChanges($event)" (ionBlur)="ionBlurs($event)"></ion-searchbar>

  <h2>添加事件的选项条</h2>
  <ion-segment (ionChange)="segmentChanged($event)" color="danger">
    <ion-segment-button value="one" checked>
      <ion-label>one</ion-label>
    </ion-segment-button>
    <ion-segment-button value="two">
      <ion-label>two</ion-label>
    </ion-segment-button>
    <ion-segment-button value="three">
      <ion-label>three</ion-label>
    </ion-segment-button>
    <ion-segment-button value="four">
      <ion-label>four</ion-label>
    </ion-segment-button>
  </ion-segment>

  <h2>可左右滑动选项条</h2>
  <ion-segment scrollable='true'>
    <ion-segment-button checked>
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button checked>
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <h2>图标位置</h2>
  <ion-segment>
    <ion-segment-button layout="icon-top">
      <ion-label>icon-top</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-bottom">
      <ion-label>icon-bottom</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-segment>
    <ion-segment-button layout="icon-start">
      <ion-label>icon-start</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-end">
      <ion-label>icon-end</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-segment>
    <ion-segment-button layout="icon-hide">
      <ion-label>icon-hide</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="label-hide">
      <ion-label>label-hide</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <h2>select选择框</h2>
  <ion-list>
    <ion-list-header>单选</ion-list-header>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select One" #mul1 (ionChange)="selectChanges(mul1)">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Hair Color</ion-label>
      <ion-select value="brown" okText="Ok" cancelText="cancel">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>多选</ion-list-header>

    <ion-item>
      <ion-label>Toppings</ion-label>
      <ion-select multiple="true" cancelText="No" okText="Ok" #mul (ionChange)="selectChanges(mul)">
        <ion-select-option value="bacon" selected>Bacon</ion-select-option>
        <ion-select-option value="olives">Black Olives</ion-select-option>
        <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
        <ion-select-option value="peppers">Green Peppers</ion-select-option>
        <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
        <ion-select-option value="pineapple">Pineapple</ion-select-option>
        <ion-select-option value="sausage">Sausage</ion-select-option>
        <ion-select-option value="Spinach">Spinach</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>通过参数设置来设定</ion-list-header>

    <ion-item>
      <ion-label>Alert</ion-label>
      <ion-select  #mul2 (ionChange)="selectChanges(mul2)"
      interface="alert" 
      [interfaceOptions]='customAlertOptions'
      multiple="true" placeholder="Select One">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="olives">Black Olives</ion-select-option>
        <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
        <ion-select-option value="peppers">Green Peppers</ion-select-option>
        <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
        <ion-select-option value="pineapple">Pineapple</ion-select-option>
        <ion-select-option value="sausage">Sausage</ion-select-option>
        <ion-select-option value="Spinach">Spinach</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Popover</ion-label>
      <ion-select interface="popover" 
      #mul3 (ionChange)="selectChanges(mul3)"
      [interfaceOptions]='customPopoverOptions' 
      placeholder="Select One">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Action Sheet</ion-label>
      <ion-select 
      [interfaceOptions]='customActionSheetOptions'
      #mul4 (ionChange)="selectChanges(mul4)"
      interface="action-sheet" placeholder="Select One">
        <ion-select-option value="red">Red</ion-select-option>
        <ion-select-option value="purple">Purple</ion-select-option>
        <ion-select-option value="yellow">Yellow</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
        <ion-select-option value="green">Green</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

</ion-content>