<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      actionSheet
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>
    {{text}}
  </p>
  <ion-button expand="block" id="basic" (click)="presentBasic()">基本的</ion-button>
  <ion-button expand="block" id="noBackdropDismiss" (click)="presentNoBackdropDismiss()">不能点击背景关闭</ion-button>
  <ion-button expand="block" id="scrollableOptions" (click)="presentScroll()">多操作选项</ion-button>
  <ion-button expand="block" id="scrollWithoutCancel" (click)="presentScrollNoCancel()">没有关闭按钮</ion-button>
  <ion-button expand="block" id="cancelOnly" (click)="presentCancelOnly()">只有关闭按钮</ion-button>
  <ion-button expand="block" id="icons" (click)="presentIcons()">图标</ion-button>
  <ion-button expand="block" id="cssClass" (click)="presentWithCssClass()">添加自定义class</ion-button>
  <ion-button expand="block" id="cssClass" (click)="withEvent()">withEvent</ion-button>
</ion-content>