<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      native
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-button expand="block" (click)="cameraFn()">相机</ion-button>
    <img [src]="imgSrc" *ngIf="imgSrc">
  </div>

  <div>
    <ion-button expand="block" (click)="actionSheets()">actionSheets</ion-button>
  </div>
  <div>
    <ion-button (click)="overlays1()">overlays true</ion-button>
    <ion-button (click)="overlays2()">overlays false</ion-button>
  </div>
  <div>
    <ion-button (click)="ByHexString()">ByHexString</ion-button>
    <ion-button (click)="ByName()">ByName</ion-button>
  </div>
  <div>
    <ion-button (click)="hides(true)">显示</ion-button>
    <ion-button (click)="hides(false)">隐藏</ion-button>
  </div>
  {{returnData|json}}

</ion-content>