<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      wangge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid no-padding>
    <ion-row>
      <ion-col size="3">
        <div>
          size="3"
        </div>
      </ion-col>
      <ion-col size="auto">
        <div>
          size="auto"
        </div>
      </ion-col>
      <ion-col size="5" offset=".6">
        <div>
            size="3" offset="0.6"
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8" size-xs>
        <div>
          xs：不要为xs屏幕设置网格宽度
        </div>
      </ion-col>
      <ion-col size="8" size-sm>
        <div>
          sm：最小宽度：576px
        </div>
      </ion-col>
      <ion-col size="8" size-md>
        <div>
          md：最小宽度：768px
        </div>
      </ion-col>
      <ion-col size="8" size-lg>
        <div>
          lg：最小宽度：992px
        </div>
      </ion-col>
      <ion-col size="8" size-xl>
        <div>
          xl：最小宽度：1200px
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>