<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      items
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" fullscreen>
  <ion-list>
    <ion-list-header>
      <ion-label>
        list-header
      </ion-label>
    </ion-list-header>

    <!-- Default Item -->
    <ion-item>
      <ion-label>
        Item
      </ion-label>
    </ion-item>

    <!-- Item as a Button -->
    <ion-item (click)="buttonClick()">
      <ion-label>
        添加 click 的
      </ion-label>
    </ion-item>

    <!-- Item as an Anchor -->
    <ion-item href="https://www.ionicframework.com">
      <ion-label>
        添加 href 的
      </ion-label>
    </ion-item>

    <!-- Secondary Color Item-->
    <ion-item color="secondary">
      <ion-label>
        添加 color 的
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="setItem" (click)="buttonClick()" detail="true" detailIcon='star'>
      <ion-label>
        右边带图标，默认是箭头
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item lines="none">
      <ion-label>
        没有底部 border 的
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3>text-wrap 可以文字折行并字体有颜色 可以文字折行并字体有颜色 可以文字折行并字体有颜色 可以文字折行并字体有颜色</h3>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item lines="inset">
      <ion-label>Item Lines Inset</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Item Lines Full</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Item Lines None</ion-label>
    </ion-item>

    <ion-list lines="full">
      <ion-item>
        <ion-label>Full Lines Item 1</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Full Lines Item 2</ion-label>
      </ion-item>
    </ion-list>

    <ion-list lines="inset">
      <ion-item>
        <ion-label>Inset Lines Item 1</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Inset Lines Item 2</ion-label>
      </ion-item>
    </ion-list>

    <ion-list lines="none">
      <ion-item>
        <ion-label>No lines Item 1</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>No lines Item 2</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>No lines Item 3</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-list>
    <ion-item (click)="buttonClick()">
      <ion-avatar slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-label>
        在头部添加图片头像
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        在尾部添加图片头像
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-thumbnail>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-thumbnail>
      <ion-label>
        <h2>H2 Title Text</h2>
        <p>Button on right</p>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-item (click)="testClick()">
      <ion-thumbnail slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-thumbnail>
      <ion-label>
        <h3>H3 Title Text</h3>
        <p>Icon on right</p>
      </ion-label>
      <ion-icon name="close-circle" slot="end"></ion-icon>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Buttons in Items
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button slot="start">
        Start
      </ion-button>
      <ion-label>Button Start/End</ion-label>
      <ion-button slot="end">
        End
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button slot="start">
        Start Icon
        <ion-icon name="home" slot="end"></ion-icon>
      </ion-button>

      <ion-label>Buttons with Icons</ion-label>

      <ion-button slot="end">
        <ion-icon name="star" slot="end"></ion-icon>
        End Icon
      </ion-button>

    </ion-item>

    <ion-item>
      <ion-button slot="start">
        <ion-icon slot="icon-only" name="navigate"></ion-icon>
      </ion-button>
      <ion-label>Icon only Buttons</ion-label>
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Icons in Items
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Icon End
      </ion-label>
      <ion-icon name="information-circle" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Large Icon End
      </ion-label>
      <ion-icon name="information-circle" size="large" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Small Icon End
      </ion-label>
      <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        Two Icons End
      </ion-label>
      <ion-icon name="checkmark-circle" slot="end"></ion-icon>
      <ion-icon name="shuffle" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Datetime</ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Select</ion-label>
      <ion-select>
        <ion-select-option value="">No Game Console</ion-select-option>
        <ion-select-option value="nes">NES</ion-select-option>
        <ion-select-option value="n64" selected>Nintendo64</ion-select-option>
        <ion-select-option value="ps">PlayStation</ion-select-option>
        <ion-select-option value="genesis">Sega Genesis</ion-select-option>
        <ion-select-option value="saturn">Sega Saturn</ion-select-option>
        <ion-select-option value="snes">SNES</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Floating Input</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Input (placeholder)</ion-label>
      <ion-input placeholder="Placeholder"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Range</ion-label>
      <ion-range></ion-range>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-divider color="danger">
      <ion-label>
        段落分隔 A ，设置颜色
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>A1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>A2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>A3</ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        段落分隔 B ，默认为灰色
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>B1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>B2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>B3</ion-label>
    </ion-item>
  </ion-list>

  <ion-item-divider>
    <ion-label>
      单独使用 ion-item-divider
    </ion-label>
  </ion-item-divider>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        在 ion-list 中使用 ion-item-divider
      </ion-label>
    </ion-item-divider>
  </ion-list>

  <ion-item-group>
    <ion-item-divider color="secondary">
      <ion-label>
        在 ion-item-group 中使用 ion-item-divider
      </ion-label>
    </ion-item-divider>
  </ion-item-group>

  <ion-item-group>
    <ion-item>
      <ion-label>
        <ion-text color="secondary">
          <h3>ion-label 中使用 ion-text</h3>
        </ion-text>
        <ion-text>ion-text2</ion-text>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>
        Item Divider
        <ion-text color="danger">
          Danger Span
        </ion-text>
      </ion-label>
      <ion-button slot="end">button</ion-button>
    </ion-item-divider>

    <ion-item text-wrap class="custom-item">
      <ion-label>
        Multiline text that should wrap when it is too long to fit on one line in the item. Attribute on .item
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="dark">
      <ion-button slot="start" fill="clear">
        <ion-icon slot="icon-only" name="cloudy"></ion-icon>
      </ion-button>
      <ion-button slot="start" fill="clear" color="light">
        <ion-icon slot="icon-only" name="rainy"></ion-icon>
      </ion-button>

      <ion-label>
        Dark
        <ion-text color="primary">
          <h5>Primary h5</h5>
        </ion-text>
      </ion-label>
    </ion-item-divider>

    <ion-item text-wrap>
      <ion-label>
        <h1>H1 Title Text</h1>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="secondary">
      <ion-label>Secondary</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>
        Column 1
      </ion-label>
      <ion-label>
        Column 2
      </ion-label>
      <ion-label>
        Column 3
      </ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>