<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      alert
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  添加自定义颜色：在theme文件夹内
  <ion-button expand="block" color="reds" (click)="base()">基本的</ion-button>
  <ion-button expand="block" color="pinks" (click)="presentAlertLongMessage()">长文本提示</ion-button>
  <ion-button expand="block" (click)="presentAlertMultipleButtons()">多按钮</ion-button>

  <ion-button expand="block" (click)="presentAlertNoMessage()">简短提示</ion-button>

  <ion-button expand="block" (click)="presentAlertConfirm()">确认框</ion-button>

  <ion-button expand="block" (click)="presentAlertPrompt()">信息输入弹框</ion-button>

  <ion-button expand="block" (click)="presentAlertRadio()">单选弹框</ion-button>

  <ion-button expand="block" (click)="presentAlertCheckbox()">多选弹框</ion-button>
  <ion-button expand="block" (click)="presentWithCssClass()">使用自定义全局css</ion-button>
</ion-content>