<ion-content>
  lazy1
  <div>
    <ion-button (click)="testRoute()">lazy2</ion-button>
    <ion-button (click)="testRoute1()">lazy1_child1</ion-button>
    <ion-button (click)="testRoute2()">lazy1_child2</ion-button>
    <ion-button (click)="testRoute3()">navigate 任意跳转</ion-button>
  </div>


  <div>
    <h2>
      lazy1 的子路由
    </h2>
    <router-outlet></router-outlet>
    <h2>未加载完数据时，用来占位的色块</h2>
    <ion-skeleton-text width=10%></ion-skeleton-text>
    <ion-skeleton-text width=20%></ion-skeleton-text>
    <ion-skeleton-text width=40%></ion-skeleton-text>
    <ion-skeleton-text width='80%'></ion-skeleton-text>
    <ion-skeleton-text width=100%></ion-skeleton-text>

  </div>

</ion-content>